<div id="contactInfo">
  <a href="#" id="findByZipcode">Find by zipcode</a>
  <div class="legislators-contact-info">
  <% if @response != nil %>
  <div class="tweetBox">
    <h2>Tweet it</h2>
    <table>
      <% @response["results"].each do |rep| %>
        <tr>
          <% if rep["twitter_id"] %>
            <td><%= rep["first_name"] + " " + rep["last_name"] + ": "%></td>
            <td class="tweetLink"><a href="https://twitter.com/intent/tweet?screen_name=<%= rep["twitter_id"] %>&text=<%= @message %>&hashtags=booksnotbars" data-size="large"  class="twitter-mention-button" data-lang="en">Tweet to @<%= rep["twitter_id"] %></a>
          <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="webFormBox">
    <h2>Send a message online</h2>
    <table class="web-form-list">
      <% @response["results"].each do |rep| %>
       <tr>
        <td><% web_form_link_text = rep["first_name"] + " " + rep["last_name"] + "'s web form" %></td>
        <% if rep["contact_form"] %>
        <% intro = rep["title"] + ". " + rep["last_name"] + ", "  %>
          <td><textarea onclick="this.select();"><%= intro + @form_message %></textarea>
          <%= link_to web_form_link_text, rep["contact_form"], :class => "web-form-link", target: "_blank" %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
  </div>
</div>
<% else %>
   <%= render 'zipcode_form' %>
<% end %>
<div class="zipcode-form"><%= render 'zipcode_form' %></div>