<div id="contactInfo">
  <div class="legislators-contact-info">
  <% if @response %>
    <table>
      <th>Legislator</th>
      <th>Twitter</th>
      <th>Email Form</th>
      <% @response["results"].each do |rep| %>
        <tr>
          <td><%= rep["first_name"] + " " + rep["last_name"]%></td>
          <% if rep["twitter_id"] %>
            <td><a href="https://twitter.com/intent/tweet?screen_name=<%= rep["twitter_id"] %>&text=<%= @message %>&hashtags=booksnotbars" class='twitter-mention-button' data-size='large' data-related='<%= rep["twitter_id"] %>'>Tweet to @<%= rep["twitter_id"] %></a>
          <% else %>
            <td>n/a</td>
          <% end %>
          </td>
          <% if rep["contact_form"] %>
            <% intro = rep["title"] + ". " + rep["last_name"] + ", "  %>
            <td><input type="text" onclick="this.select();" value="<%= intro + @form_message %>"></input>
              <%= link_to "Go to web form", rep["contact_form"], id: "copy-button" %></td>
          <% else %>
            <td>n/a</td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
  <% else %>
     <%= render 'zipcode_form' %>
  <% end %>
  <div class="zipcode-form"><%= render 'zipcode_form' %></div>
  <a href="#" id="findByZipcode">Find representatives by zipcode.</a>
