<section id='situation'>
  <div class="cover cover_gradient"></div>
  <div class="intro center">

    <h1 class="main">Books Not Bars</h1>
    <h2>Misplaced dollars and misplaced priorities.</h2>
    <hr>

    <div  id="reps">
      <%= form_tag("/legislators", method: "get") do %>
        <%= hidden_field_tag(:latitude) %>
        <%= hidden_field_tag(:longitude) %>
        <%= submit_tag "Share your Opinion", id: "contactReps", :class => 'submit_button'  %>
      <% end %>
    </div>
      <%= button_to "Take Action", organizations_path, :method => :get, :class => 'home_button' %>
      <div class="clearfix"></div>
      <hr>
  </div>
  <!-- <div id='situationDiv'>
    <div id="sitPic">4:1</div>
  </div>

  <div class="nextZone" id="sitZone">
    <svg class="tick" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <polygon points="0,0 150,0 75,50" style="fill:white;"/>
    </svg>
  </div> -->
</section>
