<section id = 'toolkit'>
  <div id='toolkitDiv'>

  	<%= form_tag("/legislators", method: "get") do %>
      <%= hidden_field_tag(:latitude) %>
      <%= hidden_field_tag(:longitude) %>
      <%= image_submit_tag 'tweetCongressBlueOnWhite.png', id: "contactReps" %>
    <% end %>

    <%= link_to image_tag('localActionBlueonWhite.png', :border=>0), :action => 'index', :controller => 'organizations', :id => 'showOrgs' %>
  </div>
</section>
