<section class ='content'>
    <%= render 'situation' %>
    <%= render 'map' %>
    <%= render 'explore' %>
    <%= render 'facts' %>
    <%= render 'state' %>
    <%= render 'toolkit' %>
</section>
