<h1><%= @location.title %></h1>
<ul>
  <li>Organization: <%= @location.organization_name %></li>
  <li>Address 1: <%= @location.address_street %></li>
  <li>Address 2: <%= "#{@location.city}, #{@location.state} #{@location.zipcode}" %></li>
  <li>Description: <%= @location.description %></li>
  <li>Website: <%= @location.website %></li>
  <li>Twitter: <%= @location.twitter_handle %></li>
</ul>

