<!DOCTYPE html>
<html>
<head>
  <title>CurrentBooksBar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <nav>
      <h1><span class="thick">B</span>ooks <span class="black"> not <span class="thick">B</span>ars</span></h1>
      <button id="close" value="close">close</button>
      <ul>
        <li><i class="foundicon-key"></i> </li>
        <li><i class="foundicon-child"></i> </li>
        <li><i class="foundicon-person"></i> </li>
        <li><i class="foundicon-question"></i> </li>
      </ul>
    </nav>

    <div class="container">
      <%= yield %>
       <%= render "welcome/overlay" %>
    </div>

    <footer>

    </footer>
  </body>
</html>
