<!DOCTYPE html>
<html>
<head>
  <title>CurrentBooksBar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&sensor=true">
  </script>
</head>
<header>
  <h1 class="logo">Books not Bars</h1>
  <div class='social-wrap'>
    <ul>
      <li><a class='facebook' href='http://www.facebook.com/' target='_blaank'>Facebook</a></li>
      <li><a class='twitter' href='http://twitter.com/' target='_blaank'>Twitter</a></li>
      <li><a class='google-p' href='https://plus.google.com/' target='_blaank'>Google Plus</a></li>
    </ul>
  </div>
</header>
  <body>
    <nav>
      <ul>
        <li><a class="navLinks white" id="1" href="#situation">THE SITUATION</a></li>
         <li><a class="navLinks white" id="2" href="#explore">EXPLORE</a></li>
         <li><a class="navLinks white" id="3" href="#facts">THE FACTS</a></li>
         <li><a class="navLinks white" id="4" href="#toolkit">TAKE ACTION</a></li>
      </ul>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <footer>

    </footer>
  </body>
</html>
