<!DOCTYPE html>
<html>
<head>
  <title>CurrentBooksBar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&sensor=true">
  </script>

</head>
  <body>

    <div class="container">
      <%= render partial:'location_utilities' %>
      <%= yield %>
    </div>

    <footer>

    </footer>
  </body>
</html>
